@font-face {
    font-family: 'Myfont-Regular';
    src: url('fonts/Myfont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Myfont-Regular', sans-serif;
}